.ql-editor {
  color: white;
}

/* This will set the background color of the editor to black */
.ql-editor {
  background-color: black;
}

.custom-quill-editor .ql-container {
  min-height: 35vh;
}

.ql-toolbar {
  min-height: 5vh;
  background-color: white;
}

.ReactQuill {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.generate-description{
  display: flex;
  justify-content: right;
  padding-right: 5%;
}

.generate-description-btn {
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  padding: 0.7vh 2vw;
  background-color: #20b2aa;
}

.ReactQuill-div {
  width: 90%;
}

.INPUUT {
  padding: 1vh;
  background-color: whitesmoke;
  color: black;
  height: 5vh;
  border-radius: 7px;
  width: 90%;
}

.img-input {
  margin-left: 1vh;
  padding: 1vh;
  min-width: 30vw;
  border-radius: 7px;
}

.Create-Post {
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}
.form-div {
  height: inherit;
}

.Create-Post-Title,
.Summary,
.INPUUT-file,
.ReactQuill {
  display: flex;
  justify-content: center;
  height: 7vh;
}

.submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  border-radius: 7px;
  padding: 1vh 7vh 1vh 7vh;
  background-color: whitesmoke;
  color: black;
  border: none;
}

@media screen and (max-width: 1024px) {
  .generate-description{
    display: flex;
    justify-content: center;
    padding-right: 0%;
  }
  .main-page {
    padding: 2vh 5vh 2vh 5vh;
  }
  .img-input {
    width: inherit;
    min-height: 5vh;
    border-radius: 7px;
    padding: 1vh;
  }
  .ReactQuill {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .submit-div {
    margin-top: 2vh;
  }

  .submit-btn {
    /* margin-top: 10px; */
    border-radius: 7px;
    padding: 1vh 7vh 1vh 7vh;
    background-color: whitesmoke;
    color: black;
    border: none;
  }

  .ReactQuill-div {
    width: 100%;
  }
}
