.ql-editor {
  color: white;
}

/* This will set the background color of the editor to black */
.ql-editor {
  background-color: black;
}

.custom-quill-editor .ql-container {
  /* width: 120vh;  */
  min-height: 35vh;
}

.ql-toolbar {
  /* width: 120vh; */
  /* width: 100%; */
  min-height: 5vh;
  background-color: white;
}

.ReactQuill {
  min-height: 43vh;
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.generate-description {
  position: absolute;
  top: 1.5%;
  right: 5.5%;
}

.generate-description-btn {
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  padding: 3.5% 2.5vh;
  background-color: #20b2aa;
}

.ReactQuill-div {
  width: 90%;
}

.INPUUT {
  padding: 1vh;
  background-color: whitesmoke;
  color: black;
  height: 5vh;
  border-radius: 7px;
  width: 80%;
}

.img-input {
  margin-left: 1vh;
  padding: 1vh;
  min-width: 30vw;
  border-radius: 7px;
}

.Create-Post {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}
.form-div {
  height: inherit;
}

.Create-Post-Title,
.Summary,
.INPUUT-file,
.ReactQuill{
  display: flex;
  justify-content: center;
  height: 7vh;
}

.submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  border-radius: 7px;
  padding: 1vh 7vh 1vh 7vh;
  background-color: whitesmoke;
  color: black;
  border: none;
}

@media screen and (max-width: 500px) {
  .img-input {
    min-height: 5vh;
    border-radius: 7px;
    padding: 1vh;
  }
  .INPUUT-file{
    width: 98%;
  }
  .generate-description {
    position: absolute;
    top: 1%;
    right: 2.5%;
  }

  .generate-description-btn {
    font-size: 12px;
    width: 20vw;
    border: none;
    border-radius: 7px;
    padding: 0.5vh 0.8vh;
    background-color: #20b2aa;
  }
  .ReactQuill {
    min-height: 45vh;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .submit-div {
    margin-top: 2vh;
  }

  .submit-btn {
    border-radius: 7px;
    padding: 1vh 5vh 1vh 5vh;
    background-color: whitesmoke;
    color: black;
    border: none;
  }

  .ReactQuill-div {
    width: 100%;
  }
}
