.HomePage {
  /* margin-top: 3vh; */
}

.Blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-title,
.blog-summary {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-username {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}

.save-blog{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-blog-btn{
  border-radius: 7px;
  padding: 0.5vh 4vw 0.5vh 4vw;
  background-color: rgb(228, 215, 215);
  border: none;
}

.blog-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-image-src {
  height: 50vh;
  width: 55vw;
}

.blog-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  text-align: center;
}

.blog-block{
  /* background-color: rgb(48, 30, 30); */
  /* color: black; */
  padding: 3vh;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}