.Blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-title-text{
  font-size: 27px;
}
.blog-title,
.blog-summary {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog-username {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}

.save-blog {
  margin-top: 2%;
  display: flex;
  width: 55vw;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.save-blog-btn:disabled,
.delete-blog-btn:disabled {
  color: black;
  background-color: whitesmoke; /* Change this to the desired background color */
  cursor: not-allowed; /* Change cursor to indicate it's disabled */
}

.save-blog-btn,
.delete-blog-btn {
  height: 4vh;
  width: 10vw;
  align-items: center;
  appearance: none;
  background-color: #00a36c;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 11vh;
  padding-right: 11vh;
  padding-top: 2.2vh;
  padding-bottom: 2.2vh;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
}

.delete-blog-btn {
  background-color: #d70040;
}
.save-blog-btn:hover,
.delete-blog-btn:hover {
  transform: translateY(-3px);
}

.save-blog-btn:active,
.delete-blog-btn:active {
  transform: translateY(3px);
}

.delete-div {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}

.blog-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-image-src {
  height: 50vh;
  width: 55vw;
}

.blog-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  text-align: center;
}

.blog-block {
  padding: 3vh;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 0.5%; */
  margin-bottom: 2%;
}

.no-blogs {
  margin-top: 7vh;
}

.Loading-State {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@media screen and (max-width: 750px) {
  .blog-image-src{
    height: 90%;
    width: 90%;
  }
  .blog-image{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .blog-image-src {
    object-fit: contain;
  }
  .blog-description{
    margin-top: 5%;
  }
  .save-blog {
    margin-top: 2%;
    width: 90vw;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .save-blog-btn,
  .delete-blog-btn {
    height: 4vh;
    min-width: 1vw;
    align-items: center;
    appearance: none;
    background-color: #00a36c;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
  }

  .delete-blog-btn {
    background-color: #d70040;
  }
  .save-blog-btn:hover,
  .delete-blog-btn:hover {
    transform: translateY(-3px);
  }

  .save-blog-btn:active,
  .delete-blog-btn:active {
    transform: translateY(3px);
  }
}
