.HomePage {
  margin-top: 7vh;
}

.Blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-title,
.blog-summary {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-image-src {
  height: 50vh;
  width: 55vw;
}

.blog-description{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  text-align: center;
}
